.features {
    
    grid-column: center-start / center-end;

    margin: 15rem 0;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
   
    @media only screen and (max-width: $bp-medium) {
        padding: 10rem 5rem; 
        margin: 0;
    }

}

.feature {

    display: grid;
    //grid-template-rows: min-content 1fr;
    
    grid-template-columns: min-content 1fr;
    grid-column-gap: 2.5rem;
    
    
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        transform: translateY(-1rem);

    }

    &__text {
        font-size: 1.7rem;
        grid-area: 2/2/3/3;

    }
}